{
    "presets": [
      [
        "@babel/preset-env",
        {
          "exclude": [
            "transform-regenerator"
          ],
          "targets": {
            "node": "14"
          }
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-transform-react-jsx"
    ]
  }