/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.advanced-search {
  position: relative;
}
.advanced-search * {
  box-sizing: border-box;
}
.advanced-search .input-combo > label {
  background-color: #6699cc;
  color: #262626;
  font-weight: bold;
}
.advanced-search .input-combo > .selectbox {
  margin-bottom: 0;
}
.advanced-search .limit-text-search h3, .advanced-search .limit-affiliation-search h3 {
  margin-bottom: 1rem;
}
.advanced-search .limit-text-search fieldset.radios label, .advanced-search .limit-text-search fieldset.checkboxes label, .advanced-search .limit-affiliation-search fieldset.radios label, .advanced-search .limit-affiliation-search fieldset.checkboxes label {
  display: block;
  margin-bottom: 1rem;
}
.advanced-search .limit-text-search fieldset.radios label:last-child, .advanced-search .limit-text-search fieldset.checkboxes label:last-child, .advanced-search .limit-affiliation-search fieldset.radios label:last-child, .advanced-search .limit-affiliation-search fieldset.checkboxes label:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 35rem) {
  .advanced-search .advanced-filters, .advanced-search .limit-text-search, .advanced-search .limit-affiliation-search {
    padding: 1rem 1rem 0;
    border-radius: 0.6rem;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .advanced-search .advanced-filters .input-combo {
    margin-bottom: 1rem;
  }
  .advanced-search .advanced-filters .input-combo:last-child {
    margin-right: 0 !important;
  }
  .advanced-search .advanced-filters .input-combo [type=color], .advanced-search .advanced-filters .input-combo [type=date], .advanced-search .advanced-filters .input-combo [type=datetime], .advanced-search .advanced-filters .input-combo [type=datetime-local], .advanced-search .advanced-filters .input-combo [type=email], .advanced-search .advanced-filters .input-combo [type=month], .advanced-search .advanced-filters .input-combo [type=number], .advanced-search .advanced-filters .input-combo [type=password], .advanced-search .advanced-filters .input-combo [type=search], .advanced-search .advanced-filters .input-combo [type=tel], .advanced-search .advanced-filters .input-combo [type=text], .advanced-search .advanced-filters .input-combo [type=time], .advanced-search .advanced-filters .input-combo [type=url], .advanced-search .advanced-filters .input-combo [type=week], .advanced-search .advanced-filters .input-combo input:not([type]), .advanced-search .advanced-filters .input-combo textarea, .advanced-search .advanced-filters .input-combo textarea, .advanced-search .advanced-filters .input-combo .selectbox {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 45rem) {
  .advanced-search .advanced-filters {
    display: flex;
    flex-flow: row wrap;
  }
  .advanced-search .advanced-filters .input-combo {
    flex: 0 0 calc(50% - 0.5rem);
    margin-right: 1rem;
  }
  .advanced-search .advanced-filters .input-combo:nth-child(2n) {
    margin-right: 0;
  }
  .advanced-search .advanced-filters .input-combo.affiliated {
    flex: 0 0 100%;
    margin-right: 0;
  }
  .advanced-search .advanced-filters h3 {
    flex: none;
    width: 100%;
  }
  .advanced-search .advanced-filters .user-actions {
    flex: none;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 1rem 1rem 0;
    background-color: #1d344d;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
  }
  .advanced-search .limit-text-search h3, .advanced-search .limit-affiliation-search h3 {
    margin-bottom: 0.5rem;
  }
  .advanced-search .limit-text-search fieldset.radios, .advanced-search .limit-text-search fieldset.checkboxes, .advanced-search .limit-affiliation-search fieldset.radios, .advanced-search .limit-affiliation-search fieldset.checkboxes {
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 1rem;
  }
  .advanced-search .limit-text-search fieldset.radios label, .advanced-search .limit-text-search fieldset.checkboxes label, .advanced-search .limit-affiliation-search fieldset.radios label, .advanced-search .limit-affiliation-search fieldset.checkboxes label {
    flex: 0 0 calc(50% - 0.5rem) !important;
    margin-right: 1rem;
  }
  .advanced-search .limit-text-search fieldset.radios label:nth-child(2n), .advanced-search .limit-text-search fieldset.checkboxes label:nth-child(2n), .advanced-search .limit-affiliation-search fieldset.radios label:nth-child(2n), .advanced-search .limit-affiliation-search fieldset.checkboxes label:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 55rem) {
  .advanced-search.admin::after {
    clear: both;
    content: "";
    display: block;
  }
  .advanced-search.admin .half-pane {
    margin-top: 1rem;
    float: left;
    width: calc(50% - 0.5rem);
    margin-right: 1rem;
  }
  .advanced-search.admin .half-pane:nth-child(2n) {
    margin-right: 0;
  }
  .advanced-search.admin .half-pane .limit-text-search fieldset.radios label, .advanced-search.admin .half-pane .limit-text-search fieldset.checkboxes label, .advanced-search.admin .half-pane .limit-affiliation-search fieldset.radios label, .advanced-search.admin .half-pane .limit-affiliation-search fieldset.checkboxes label {
    flex: 0 0 calc(50% - 0.5rem) !important;
    margin-right: 1rem;
  }
  .advanced-search.admin .half-pane .limit-text-search fieldset.radios label:nth-child(2n), .advanced-search.admin .half-pane .limit-text-search fieldset.checkboxes label:nth-child(2n), .advanced-search.admin .half-pane .limit-affiliation-search fieldset.radios label:nth-child(2n), .advanced-search.admin .half-pane .limit-affiliation-search fieldset.checkboxes label:nth-child(2n) {
    margin-right: 0;
  }
  .advanced-search .advanced-filters .input-combo.affiliated {
    flex: 0 0 calc(50% - 0.75rem);
    margin-right: 1rem !important;
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 65rem) {
  .advanced-search .advanced-filters .input-combo {
    flex: 0 0 calc(25% - 0.75rem);
  }
  .advanced-search .advanced-filters .input-combo:nth-child(2n) {
    margin-right: 1rem;
  }
  .advanced-search .advanced-filters .input-combo:nth-child(4n) {
    margin-right: 0;
  }
  .advanced-search .half-pane .advanced-filters .input-combo {
    flex: 0 0 calc(50% - 0.5rem);
  }
  .advanced-search .half-pane .advanced-filters .input-combo:nth-child(2n) {
    margin-right: 0;
  }
  .advanced-search .half-pane .advanced-filters .input-combo:nth-child(4n) {
    margin-right: 0;
  }
  .advanced-search .limit-text-search fieldset.radios label, .advanced-search .limit-text-search fieldset.checkboxes label, .advanced-search .limit-affiliation-search fieldset.radios label, .advanced-search .limit-affiliation-search fieldset.checkboxes label {
    flex: 0 0 calc(25% - 0.75rem) !important;
    margin-right: 1rem;
  }
  .advanced-search .limit-text-search fieldset.radios label:nth-child(2n), .advanced-search .limit-text-search fieldset.checkboxes label:nth-child(2n), .advanced-search .limit-affiliation-search fieldset.radios label:nth-child(2n), .advanced-search .limit-affiliation-search fieldset.checkboxes label:nth-child(2n) {
    margin-right: 1rem;
  }
  .advanced-search .limit-text-search fieldset.radios label:nth-child(4n), .advanced-search .limit-text-search fieldset.checkboxes label:nth-child(4n), .advanced-search .limit-affiliation-search fieldset.radios label:nth-child(4n), .advanced-search .limit-affiliation-search fieldset.checkboxes label:nth-child(4n) {
    margin-right: 0;
  }
}
