/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.auto-play-carousel, .carousel {
  overflow: hidden;
}
.auto-play-carousel .slide, .carousel .slide {
  width: 100%;
}
.auto-play-carousel .slide img, .carousel .slide img {
  width: 100%;
}

.flickity-prev-next-button {
  padding: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 0.8rem;
  height: 3rem;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.flickity-prev-next-button:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.flickity-prev-next-button .flickity-button-icon {
  width: 80%;
  left: 10%;
  color: #fff;
}
.flickity-prev-next-button.previous {
  left: 0;
  border-radius: 0 0.3rem 0.3rem 0;
}
.flickity-prev-next-button.next {
  right: 0;
  border-radius: 0.3rem 0 0 0.3rem;
}

@media screen and (min-width: 35rem) {
  .flickity-prev-next-button {
    width: 1.5rem;
    height: 3rem;
  }
  .flickity-prev-next-button:hover {
    background-color: rgba(0, 0, 0, 0.75);
    width: 3rem;
    height: 4rem;
  }
  .flickity-prev-next-button.previous:hover {
    border-radius: 0 0.6rem 0.6rem 0;
  }
  .flickity-prev-next-button.next:hover {
    border-radius: 0.6rem 0 0 0.6rem;
  }
  .flickity-prev-next-button .flickity-button-icon {
    width: 70%;
    left: 15%;
  }
}
@media screen and (min-width: 65rem) {
  .flickity-prev-next-button {
    width: 2rem;
    height: 3rem;
  }
  .flickity-prev-next-button:hover {
    background-color: rgba(0, 0, 0, 0.75);
    width: 3rem;
    height: 4rem;
  }
  .flickity-prev-next-button .flickity-button-icon {
    width: 60%;
    left: 20%;
  }
}
