/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.history-and-notes h3 {
  vertical-align: baseline;
}

.history-toggle {
  display: inline-block;
  position: relative;
  top: -0.25em;
  margin-left: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: #1d344d;
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 0 0.75em;
  text-shadow: none;
  border-radius: 0.6em;
  transition: background-color 0.2s ease;
}
.history-toggle:hover {
  background-color: rgba(255, 255, 255, 0.75);
  cursor: pointer;
}
