@import 'bourbon';

//  Global Variables
@import '_vars.scss';


//  Helper Mixins
@import '_helpers.scss';


//  Normalize & HTML5 Boilerplate styles
@import '_normalize.scss';


//  Typographic Elements
@import '_type.scss';

body {
  text-align: center;
}

body * {
  transition: font-size 0.2s ease;
}

.container {
	max-width: 85rem;
	text-align: left;
	margin: 0 auto !important;
	position: relative;
	box-sizing: border-box;
	@include clearfix;
}


//  Page Layout
@import '_header.scss';
@import '_apps-header.scss';
@import '_layout.scss';
@import '_ui.scss';
@import '_form-layout.scss';
@import '_footer.scss';