/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.system-landing-block {
  background-color: rgba(0, 0, 0, 0.25);
  color: #f2f2f2;
  padding: 1rem;
  margin-top: 1rem;
}
.system-landing-block ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.system-landing-block li {
  margin-bottom: 1rem;
}
.system-landing-block li:last-child {
  margin-bottom: 0;
}
.system-landing-block li a {
  display: block;
  background-color: #6699cc;
  padding: 1rem;
  border-radius: 0.4rem;
  font-weight: bold;
  color: #262626;
  position: relative;
  overflow: visible;
  transition: color, background-color, font-size, 0.2s ease;
}
.system-landing-block li a:hover {
  background-color: #004b8d;
  color: #f2f2f2;
}
.system-landing-block li a span.badge {
  display: inline-block;
  background-color: #000;
  border-radius: 50%;
  font-size: 1em;
  font-weight: bold;
  height: 2em;
  width: 2em;
  line-height: 2em;
  letter-spacing: normal;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  text-shadow: none;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.2) 100%);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.25);
}
.system-landing-block li a span.badge.pending {
  background-color: #F4C182;
  color: #262626;
}
@media screen and (min-width: 35rem) {
  .system-landing-block {
    border-radius: 0.6rem;
    padding: 1rem 0 0 1rem;
  }
  .system-landing-block ul {
    display: flex;
    flex-flow: row wrap;
  }
  .system-landing-block li {
    flex: 0 0 calc(50% - 1rem);
    margin: 0 1rem 1rem 0;
  }
}
@media screen and (min-width: 55rem) {
  .system-landing-block.entities li {
    flex: 0 0 calc(20% - 1rem);
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 65rem) {
  .system-landing-block li a {
    font-size: 1.2em;
  }
}
