/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.system-menu ul {
  list-style: none;
  padding-left: 0;
}
.system-menu ul li {
  margin: 0 0 0.5rem 0;
  padding: 0;
}
.system-menu ul li h4 {
  font-size: 1.2em;
  padding: 1rem 0;
  margin: 0;
}
.system-menu ul li a, .system-menu ul li.expanded {
  display: block;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-decoration: none;
  border-radius: 0.6rem;
  transition: color, background-color, 0.2s ease;
}
.system-menu ul li a:hover, .system-menu ul li.expanded:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.system-menu ul li a.current, .system-menu ul li.expanded.current {
  background-color: #004b8d;
  color: #fff;
}
.system-menu ul li.expanded ul {
  font-weight: normal;
}
.system-menu ul li.expanded:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.system-menu ul li ul {
  margin: 0.5rem -1rem -1rem;
}
.system-menu ul li ul li {
  background-color: transparent;
  margin-bottom: 0;
  border-radius: 0;
}
.system-menu ul li ul li:first-child a {
  padding: 0.75rem 1rem 0.5rem 2rem;
}
.system-menu ul li ul li:last-child a {
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.5rem 1rem 0.75rem 2rem;
}
.system-menu ul li ul li a {
  border-radius: 0;
  font-weight: normal;
  padding: 0.5rem 1rem 0.5rem 2rem;
  background-color: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  transition: background-color, border, 0.2s ease;
}
.system-menu ul li ul li a span.badge {
  display: inline-block;
  background-color: #000;
  border-radius: 50%;
  font-size: 0.6rem;
  font-weight: bold;
  height: 1rem;
  width: 1rem;
  line-height: 1rem;
  letter-spacing: normal;
  position: relative;
  top: -0.1rem;
  left: 0.5rem;
  text-shadow: none;
  text-align: center;
}
.system-menu ul li ul li a span.badge.pending {
  background-color: #F4C182;
  color: #262626;
}
