/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.video-block {
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  text-align: left;
}
.video-block h3 {
  padding: 1rem;
  margin: 0;
  color: #f2f2f2;
}
.classic .video-block {
  background-color: #fff;
  border-bottom: 0.6em solid #F4C182;
}
.classic .video-block h3 {
  color: #262626;
}
.boundless .video-block {
  margin: 0 0 1rem;
}
.boundless .video-block h3 {
  padding: 0.5rem 1rem;
}
.sidebar .reading-block .video-block {
  border-bottom: none;
}
.sidebar .reading-block .video-block h3 {
  padding: 0.5rem 1rem 0;
}
.sidebar.boundless .reading-block .video-block {
  border-bottom: none;
}
.sidebar.boundless .reading-block .video-block h3 {
  padding: 0.5rem 0;
}

@media screen and (min-width: 65rem) {
  .video-block {
    margin-bottom: 2rem;
  }
  .video-block h3 {
    padding: 1.5rem 2rem;
  }
  .boundless .video-block {
    margin-bottom: 2rem;
  }
  .boundless .video-block h3 {
    padding: 1rem 2rem;
  }
  .sidebar .reading-block .video-block {
    border-bottom: none;
  }
  .sidebar .reading-block .video-block h3 {
    padding: 0.5rem 2rem 0;
  }
  .sidebar.boundless .reading-block .video-block {
    border-bottom: none;
  }
  .sidebar.boundless .reading-block .video-block h3 {
    padding: 0.5rem 0;
  }
}
@media screen and (min-width: 85rem) {
  .video-block {
    font-size: 1.25em;
  }
}
